{% extends 'app_viktoryna/base.html' %}

{% block content %}
    <h2>{% if question %}Редагувати питання{% else %}Створити нове питання{% endif %}</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        {{ question_form.as_p }}
        
        <h3>Відповіді:</h3>
        {% for form in answer_forms %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
        {% endfor %}
        
        <button type="submit" class="btn btn-primary">Зберегти</button>
    </form>
{% endblock %}
